html,
body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(217, 54%, 11%);
  height: 100%;
  margin: 0;
}
/* height & margin diatas dan height di section bawah, bisa membuat elemen berada ditengah tengah halaman */

/* section */
section {
  height: 100%;
}

/* card */
section .card {
  background-color: hsl(216, 50%, 16%);
  padding: 20px;
}

section .card .img-container {
  position: relative;
}

/* membuat gambar svg menjadi tidak terlihat dan berada ditengah tengah gambar yang sebenarnya. Perlu container / parent untuk lakukan ini yang diberi position relative seperti diatas agar gambar svg dan background-colornya sendiri bisa muncul saat dihover / active dengan property z-index */
section .card .img-container .img-see-eth {
  border-radius: 1rem;
  position: absolute;
  z-index: 10;
  background-color: hsla(178, 100%, 50%, 0.6);
  opacity: 0;
  width: 100%;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
}
/* aspect-ratio: 1; artinya otomatis disesuaikan antara tinggi / lebarnya, karna yang diatas hanya ada lebar 100% maka tingginya juga akan mengikuti 100% dengan aspect-ratio tersebut, yang menyebabkan kita hanya perlu mengganti elemen width / lebarnya saja. dengan aspect-ratio 1 juga berarti perbandingan lebar dan tinggi nya 1:1 sehingga akan terbentuk persegi. */

section .card .img-container .img-see-eth:hover,
section .card .img-container .img-see-eth:active {
  opacity: 1;
  cursor: pointer;
}

section .card .cards-title h5 {
  font-weight: 600;
  color: hsl(0, 0%, 100%);
}

section .card .cards-title h5:active,
section .card .cards-title h5:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

section .card .cards-title p {
  font-weight: 300;
  color: hsl(215, 51%, 70%);
  font-size: 18px;
}

.card .row .eth-value {
  margin-top: 1px;
  margin-left: -8px;
  font-weight: 400;
  color: hsl(178, 100%, 50%);
}

.card .row .days-left p {
  margin-top: 1px;
  font-weight: 300;
  color: hsl(215, 51%, 70%);
}

.card .borders {
  border-bottom: 1px solid hsl(215, 32%, 27%);
}

.cards-footer img.card-thumbnail {
  border: 2px solid white;
  border-radius: 50%;
}

.cards-footer p.creator {
  margin-top: 5px;
  color: hsl(215, 51%, 70%);
}

.cards-footer p span {
  color: hsl(0, 0%, 100%);
}

.cards-footer p span:active,
.cards-footer p span:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
