html,
body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(217, 54%, 11%);
  height: 100%;
  margin: 0;
}
/* height & margin diatas dan height di section bawah, bisa membuat elemen berada ditengah tengah halaman */

/* section */
section {
  height: 100%;
}

section .card {
  background-color: hsl(216, 50%, 16%);
  color: white;
  padding: 20px;
}

.card .row .eth-value {
  margin-top: 1px;
  margin-left: -8px;
}

.card .row .days-left {
  margin-top: 1px;
}

.card .borders {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.cards-footer img.card-thumbnail {
  border: 2px solid white;
  border-radius: 50%;
}

.cards-footer p.creator {
  margin-top: 5px;
}
